<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sky.mapper.RegisterMapper">

    <select id="isLnameExist" parameterType="String" resultType="String">
        select lid from login where lname = #{lname}
    </select>

</mapper>